.current-link {
    color: #ff0000; 
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
  }
  
.default-link {
    color: #000000; // Blue
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    // add spacing between links
    margin-right: 15px;
  }

  body {
    background-color: #f9f7eb; // Slight off-white towards yellow
    // padding: 200px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
  }
  
  .default-title {
    color: #ff0000; // Red
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .default-content {
    color: #000000; // Black
    font-family: 'Arial';
    font-size: 1.2rem;
    // spacing between lines
    line-height: 1.5;
  }

  .blog-container {
    background-color: #f9f7eb; // Slight off-white towards yellow
    // padding: 100px;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
  }

  .intro-container {
    background-color: #f9f7eb; // Slight off-white towards yellow
    // padding: 100px;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
  }